* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: inherit;
    font-weight: inherit;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
    /* 아래위 간격생기기 */
    max-width: 100%;
    /* 이미지를 박스안에 가둠 */
}

p {
    word-break: keep-all;
    /* 자연스럽게 음절마다 떨어지게 */
}

body {
    line-height: 1;
    /* 폰트사이즈만큼 박스사이즈 차지하게 */
    color: #444;
}

em,
address {
    font-style: normal;
}